@import url('https://fonts.googleapis.com/css?family=Karla:400,700|Cormorant+Garamond:400,400i');

/* Variables */
:root {
    --primary-red: #EC2F30;
    --primary-blue: #4169E1;
    --primary-dark: #16161D;

    --transition-duration: 200ms;
    
    --main-text-size: 18px;
    --code-text-size: 15px;
}

body {
    font-family: 'Karla', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #16161d;
    font-size: var(--main-text-size);
}

.blog-root {
    max-width: 600px;
    margin: 50px auto;
}

.blog-navmenulist {
    list-style: none;
    margin: 0;
    padding: 0;
}

.blog-navmenuitem {
    display: inline-block;
    padding: 5px 10px;
    margin-right: 10px;
    background: #efefef;
    color: #4169E1;
    border-radius: 3px;
    transition: all 200ms ease-in-out;
}

.blog-navmenuitem:hover {
    cursor: pointer;
    background: #4169E1;
    color: #efefef;
}

.blog-navmenuitem-active {
    background: #4169E1;
    color: #efefef;
}

.blog-list {
    
}

.post {

}

.post-title {
    font-family: 'Cormorant Garamond', 'Times New Roman', Times, serif;
    color: var(--primary-red);
    transition: color var(--transition-duration) ease-in-out;
    font-weight: 400;
    margin-bottom: 10px;
    margin-top: 30px;
}

.post-title:hover {
    cursor: pointer;
    color: var(--primary-blue);
}

.post-subtitle {
    font-size: 1.1em;
    margin: 0;
}

.post-cover-img {
    width: 100%;
}

.post-publishedDate {
    text-transform: uppercase;
    font-size: 0.8em;
    margin: 0;
    margin-top: 2px;
    margin-bottom: 5px;
    letter-spacing: 0.2em;
    opacity: 0.5;
    font-weight: 700
}

.post-content {
    margin-top: 10px;
}

.post-content p {
    margin: 0;
}

.post-content figure {
    margin: 0
}

.post-content figure img {
    max-width: 100%
}

.post-content pre {
    overflow: auto;
    background: #eeeeee;
    padding: 1em;
    border-radius: 5px;
    font-size: var(--code-text-size);
}

.post-content pre code {
    color: var(--primary-dark);
}

.post-content code {
    font-size: var(--code-text-size);
    color: var(--primary-red);
}

@media screen and (max-width: 620px) {
    .blog-root {
        width: auto;
        padding: 0 10px;
    }
}